[package]
name = "video_service"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
datastore = { path = "../datastore" }
chrono = { version = "0.4", features = ["serde"] }
